<div class="containera about-top">
  <h4>With farmers</h4>
  <p>~若い世代に日本農業の「素晴らしさ」「ありがたさ」を~</p>



<div class="container py-3 px-md-5 p-5">
  <div class="row">
   <div class="d-flex justify-content-around ">
    <div class="about-title-features p-5">
     <h3 class="about-title"><strong>農業体験</strong></h3>
           <p class="text-success">農家の方が募集している農業を体験できる！！</p>
           <p class="text-success">使い方によっては，農家の方同士で助け合うことも可能！</p>

     </div>
     <div class="about-title-features p-5">
     <h3 class="about-title"><strong>農業日記</strong></h3>
           <p class="text-success">農家の方は日々の農業を日記として残すことができ，また，他のユーザーの方は投稿にコメントができる！</p>

     </div>
     <!--<div class="about-title-features p-5">-->
     <!--<h3 class="about-title"><strong>簡単登録</strong></h3>-->
     <!--      <p>簡単かつ無料で登録できる！</p>-->
     <!--</div>-->
    </div>
   </div>
  </div>
</div>









<!--<div class="about-green-contaner">-->
<!-- <div class="card devise-card">-->
<!--  <div class="form-wrap">-->
<!--   <div class="form-group text-center">-->
<!--    <h1 class="about-title mb-2"><strong>簡単登録!!</strong></h1>-->
<!--    <p class="text-secondary">登録はユーザー名，メールアドレス，パスワードのみ</>-->
<!--    <p class="text-secondary"><strong>完全無料</strong>です!!</p>-->
<!--   </div>-->
<!--  </div>-->
<!-- </div>-->
<!--  <div class="card devise-card">-->
<!--  <div class="form-wrap">-->
<!--   <div class="form-group text-center">-->
<!--    <h1 class="about-title mb-2"><strong>農業体験</strong></h1>-->
<!--    <p class="text-secondary">どちらのユーザーで<strong>ログイン</strong>しますか?</p>-->
<!--   </div>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->




