<div class="container">
  <h4>With farmers</h4>
  <p>~若い世代に日本農業の「素晴らしさ」「ありがたさ」を~</p>
</div>


<div class="container">
  <div class="row">
    <div class="d-flex justify-content-around">
        <div class="about">
          <h3>〜簡単登録〜</h3>
        </div>
        <div class="about">
          <h3>〜農業体験〜</h3>
        </div>
        <div class="about">
          <h3>〜農業日記〜</h3>
        </div>
    </div>
  </div>
</div>

