<div class="green-contaner">
 <div class="card devise-card">
  <div class="form-wrap">
   <div class="form-group text-center">
    <h1 class="choicce mb-2">With Farmers</h1>
    <p class="text-secondary">どちらのユーザーで<strong>新規登録</strong>しますか?</p>
    <%= link_to "農家ユーザー新規登録", new_farmer_user_registration_path, class: 'btn btn-success' %>
    <%= link_to "一般ユーザー新規登録", new_general_user_registration_path, class: 'btn btn-info' %>
    <!--<p class="text-secondary p-3">農家ユーザーは,農家の日常を投稿できたり，<br>農業体験を募集することができます。</p>-->
    <!--<p class="text-secondary">一般ユーザは，興味のある農業体験に応募できます。</p>-->
     <p class="devise-link p-3">
        アカウントをお持ちですか？
        <%= link_to "ログインする", home_choice_login_path %>
      </p>
   </div>
  </div>
 </div>
</div>
