<h1>あなたはどちらのユーザーですか??</h1>
<h3>農業を営んでいる方</h3>
 <li class="nav-item">
  <%= link_to "農家ユーザー新規登録", new_farmer_user_registration_path, class: 'nav-link text-dark' %>
</li>
<h3>一般の方</h3>

<li class="nav-item">
  <%= link_to "一般ユーザー新規登録", new_general_user_registration_path, class: 'nav-link text-dark' %>
</li>
