<div class="cover align-middle">
  <div class="text-center">
    <h1 class="title mb-2">With Farmers</h1>
     <p class="sub-title">〜農と人を繋ぐ〜</p>
  </div>
</div>


<!--<div class="main-container">-->
<!--  <div class=" col-sm-10 mx-2 mx-sm-auto text-center  px-0 my-5">-->
<!--    <h1 class="top-page"><strong>With Farmers</strong></h1>-->
<!--    <h4 class="top-page"><p>〜農と人を繋ぐ〜</p></h4>-->
<!--    <div class="row">-->
      <!--<p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>-->
      <!--<p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->