<div class="cover">
  <div class="text-center">
    <h1 class="title mb-2">With Farmers</h1>
     <p class="sub-title">〜農と人を繋ぐ〜</p>
      <% if farmer_user_signed_in? %>
      <div class="top-new-btn mt-3 mx-auto">
        <%= link_to 'マイページへGO!', farmer_users_users_path, class: 'press-down text-decoration-none' %>
      </div>
    <% elsif general_user_signed_in? %>
      <div class="top-new-btn mt-3 mx-auto">
        <%= link_to 'マイページへGO!', farmer_users_users_path, class: 'press-down text-decoration-none' %>
      </div>
    <% else %>
      <div class="top-new-btn mt-5 mx-auto">
        <%= link_to 'さっそく登録する！！', home_choice_path, class: 'press-down text-decoration-none' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="way pt-5">
    <h3 class="way-one"><i class="fas fa-bookmark"></i> <span class="title-color">With Farmers</span>の利用方法</h3>
    <p class="way-text"><span class="title-color">With Farmers</span>の基本的な使い方を簡単にご紹介！！</p>

    <div class="row way-about">
      <div class="way-imageleft col-10">
         <p class="way-one"><i class="fas fa-check"></i>気になる投稿や農業体験を探す</p>
         <p class="way-one"><i class="fas fa-check"></i>気になる投稿にはコメント投稿して農家の方と繋がろう！</p>
         <p class="way-one"><i class="fas fa-check"></i>気になる農業体験にはリクエストを送ろう！</p>
         <h6>※リクエストの際にメールアドレスを入力していただきます。農家の方から詳細が送信されますのでご確認をお願いいたします。</h6>
      </div>
    </div>
  </div>
</div>


<!--<div class="main-container">-->
<!--  <div class=" col-sm-10 mx-2 mx-sm-auto text-center  px-0 my-5">-->
<!--    <h1 class="top-page"><strong>With Farmers</strong></h1>-->
<!--    <h4 class="top-page"><p>〜農と人を繋ぐ〜</p></h4>-->
<!--    <div class="row">-->
      <!--<p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>-->
      <!--<p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->