<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>リクエスト日</th>
          <th>イベント名</th>
          <th>イベント日程</th>
          <th>連絡先</th>
        </tr>
      </thead>

      <% joins.each do |join| %>
        <body>
          <tr>
            <td><%= join.created_at.strftime('%Y/%m/%d') %> </td>
            <td><%= join.event.title %></td>
            <td><%= join.event.event_date %></td>
            <td><%= join.event.farmer_user.email %></td>
          <% end %>
          </tr>
      </body>
    </table>
  </div>


</div>