// Place all the styles related to the farmer_users/posts controller here.
// They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// .circle {
//       border-radius: 50%;
//       object-fit: cover;
//     }

.setting {
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  background-color: transparent;
  margin: 18px 0 0 10px;
  background-size: 22px!important;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
