// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
  background-image: image-url('home.jpg');
  width: 100%;
  height: 600px;
  display: table;
  background-position: center;
  background-size: cover;
}

//早速始めてみるボタンとマイページ欄
.press-down {
  font-size: 25px;
  display: inline-block;
  background-color: #cd5;
  padding: 15px 25px;
  margin: 50px 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 6px #0f5762;
  }


.title {
  position: relative;
  color: #FFFFFF;
  font-size: 80px;
  font-family: Impact;
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}

.sub-title {
  font-family: Georgia, serif;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 40px;
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
}

.choicce{
  position: relative;
  color: #FFFFFF;
  font-size: 55px;
  font-family: Impact;
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}

.devise-card {
  border: none;
}
.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.green-contaner{
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.devise-card {
  border: none;
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.about-top{
  padding: 30px 30px;
  height: 100%;
  background: #FFFFDE;
}

.about-green-contaner{
  max-width: 540px;
  width: 100%;
  padding: 10px 75px 100px;
  box-sizing: border-box;
}

.about-title{
  padding: 10px;
  color: #FFFFFF;
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}


.about-title-features {
  margin: 5px;
  width: 100%;
  background: #fff;
  border: 1px solid #009350;
  border-radius: 20px;
}
// 使い方の部分
.way-text {
  padding-left: 29px;
  font-size: 20px;
}
.title-color{
  color: #FFFFFF;
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}
.fa-bookmark {
  color: #cd5;
}

.way-image1 {
    height: 500px;
    width: 650px;
    background-image: image-url('10885_color.png');
    background-position: center;
    background-size: cover;
    margin: 10px 60px 10px 50px;
  }

.way-about{
  display: flex;
  justify-content: space-around;
}