<!--イベント参加者リスト確認ページ-->
<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>農業体験名</th>
          <th>体験の日程</th>
          <th>体験希望者</th>
          <th></th>
          <th>連絡先</th>
        </tr>
      </thead>

       <% @joins.each do |join| %>

        <body>
          <tr>
            <td><%= join.created_at.strftime('%Y/%m/%d') %> </td>

            <td></td>
          <% end %>

          </tr>
      </body>
    </table>
  </div>
</div>
<div>

</div>